<script id='boards-index-template' type='text/x-handlebars-template'>
  <table>
    <thead>
      <tr>
        <th>Board Name</th>
      </tr>
    </thead>
    <tbody>
      <td></td>
    </tbody>
  </table>
</script>
